.custom-shape-divider-top-1710951714 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1710951714 svg {
    position: relative;
    display: block;
    width: calc(106% + 1.3px);
    height: 169px;
}

.custom-shape-divider-top-1710951714 .shape-fill {
    fill: #F756;
}